@media screen and (max-width: 600px) {
  ul li {
    display: block;
    min-width: unset;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
  }

  .btn {
    width: 100%;
    max-width: 300px;
    padding: 14px 20px;
  }

  header h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1.1em;
  }

  h2 {
    font-size: 1.6em;
  }
}
